@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;

/* RESET COMPLETO - Esto soluciona el problema */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Elimina cualquier fondo por defecto */
body {
  background: rgb(240, 236, 238)
;
}
/* FONDO GENERAL PARA TODA LA APLICACIÓN */


/* Si quieres que solo CatalogPage tenga el fondo, elimina lo anterior y usa esto: */




/* Elimina cualquier margen o padding por defecto */
* {
  box-sizing: border-box;
}

:root {
  --font-logo: 'Pacifico', cursive;
  --font-nav: 'Quicksand', sans-serif;
  --font-mobile-nav: 'Lora', serif;
  --pastel-pink: #F8C8DC; 
  --text-color: #333;
  --link-hover: #f188af;
  --background-color: #ffffff;
  --pastel-menta: #87cfbc;
  --footer:#e9bdcf; 
  --hover:#6da899;
}

.bg-pastel-pink {
  background-color: var(--pastel-pink);
}

.font-nav {
  font-family: var(--font-nav);
}

.nav-link {
  font-weight: 550;
  font-size: 1em;
  letter-spacing: 0.5px;
}

.mobile-nav-link {
  font-weight: 600;
  font-size: 1em;
}

@media (min-width: 768px) {
  .footer-email {
    position: absolute;
    left: 48.7%;
    transform: translateX(-50%);
  }
}

.login-page {
    background-image: url(../src/assets/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center;     /* Centrado horizontal */
}

/* Fondo fijo detrás */
.login-page::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../src/assets/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

/* Contenedor del contenido */
.login-content {
    flex: 1;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
