
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


@tailwind base;
@tailwind components;


body{
background-image: url(./assets/images/fondo.jpg);
background-size: cover;
}



:root {
  --font-logo: 'Pacifico', cursive;
  --font-nav: 'Quicksand', sans-serif;
--font-mobile-nav: 'Lora', serif;
  --pastel-pink: #F8C8DC; 
  --text-color: #333;
  --link-hover: #f188af;
  --background-color: #ffffff;
  --pastel-menta:#87cfbc;
}

.bg-pastel-pink {
  background-color: var(--pastel-pink);
}
/* Define todas tus clases personalizadas aquí */
.font-nav {
  font-family: var(--font-nav);
}

.nav-link {
  font-weight: 550;
  font-size: 1em;
  letter-spacing: 0.5px;}

.mobile-nav-link {
    font-weight: 600; /* Regular, más profesional */
    font-size: 1em;
}

@media (min-width: 768px) {
  .footer-email {
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
  }
}

